a {
  color: #3d3d3d;
}
.index-product {
  width: 100%;
  padding: 50px 0;
}
.index-product .product-title {
  opacity: 0.8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.index-product .product-title .p-title h2 {
  font-weight: lighter;
  color: #3d3d3d;
}
.index-product .product-title .p-title h2 span {
  border-bottom: 2px solid #3d3d3d;
  height: 70px;
  line-height: 70px;
  display: inline-block;
}
@media screen and (max-width: 414px) {
  .index-product .product-title .p-title h2 span {
    height: 40px;
    line-height: 40px;
  }
}
.index-product .product-title .more {
  float: right;
  line-height: 70px;
}
.index-product .product-title .more a {
  color: #3d3d3d;
}
.index-product .product-content {
  box-sizing: border-box;
  padding-top: 50px;
  text-align: center;
}
.index-product .product-content:after {
  clear: both;
  content: "";
  display: block;
}
.index-product .product-content .content-list {
  float: left;
  width: 393px;
  padding: 20px 0;
  box-sizing: border-box;
}
@media screen and (max-width: 810px) {
  .index-product .product-content .content-list {
    width: 50%;
  }
  .index-product .product-content .content-list img {
    width: 60%;
  }
}
.index-product .product-content .content-list a {
  color: #3d3d3d;
}
@media screen and (min-width: 1181px) {
  .index-product .product-content .content-list:nth-child(n) {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  .index-product .product-content .content-list:nth-child(3n) {
    border-right: none;
  }
  .index-product .product-content .content-list:nth-child(1),
  .index-product .product-content .content-list:nth-child(2),
  .index-product .product-content .content-list:nth-child(3) {
    border-top: none;
  }
  .index-product .product-content .content-list:nth-child(7),
  .index-product .product-content .content-list:nth-child(8),
  .index-product .product-content .content-list:nth-child(9) {
    border-top: 1px solid #ccc;
    border-bottom: none;
  }
}
@media screen and (max-width: 1180px) {
  .index-product .product-content .content-list:nth-child(n) {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  .index-product .product-content .content-list:nth-child(2n) {
    border-right: none;
    border-top: 1px solid #ccc;
  }
  .index-product .product-content .content-list:nth-child(1),
  .index-product .product-content .content-list:nth-child(2) {
    border-top: none;
  }
}
.index-product .product-content .content-list .p-list-content {
  opacity: 0.6;
  margin-top: 15px;
  line-height: 23px;
  font-size: 13px;
}
.index-product .product-content .content-list .p-list-content h4 {
  font-weight: lighter;
  font-size: 15px;
}
.index-product .product-content .content-list div {
  box-sizing: border-box;
  padding: 15px;
  transition: all 500ms;
}
.index-product .product-content .content-list div:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transition: all 500ms;
}
.index-product .product-content .content-list div:hover .p-list-content {
  opacity: 0.8;
  transition: all 500ms;
}
/*# sourceMappingURL=produclist.css.map */
